@import '../../components/variables.css';

.content {
  background-color: #fff;
  padding-bottom: 60px;
}

.playerWrapper {
  position: relative;
  height: 200px;
  overflow: hidden;
  margin-bottom: -100px;
  margin-top: -120px;
}

.playerWrapper + * {
  padding-top: 120px;
}

.btn {
  display: block;
  background-color: #2b2728;
  border: 5px solid var(--color-main);
  flex: 1;
  border-radius: 100%;
  position: absolute;
  top: 10px;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translateX(-50%);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  outline: none;
}

.btn span {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.btnNext {
  transform: translateX(70px) translateY(45%);
}

.btnNext span {
  transform: translateX(2px);
}

.btnPrev {
  transform: translateX(-170px) translateY(45%);
}

.btnPrev span {
  transform: translateX(-2px);
}

.trackDisabled {
  opacity: 0.5;
}

.btnPlay {
  width: 180px;
  height: 180px;
  z-index: 1;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressBtn,
.progressBtn span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 100%;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.progressBtn span {
  top: 0;
  left: 50%;
  margin-left: -12px;
  margin-top: -12px;
  display: block;
  bottom: auto;
  right: auto;
  width: 24px;
  height: 24px;
  background-color: white;
  box-shadow: 0 0 0 0 rgba(74, 144, 226, 0.03), 0 2px 5px 0 rgba(74, 144, 226, 0.01), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}

.progressBar {
  position: absolute;
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
}

.progressBar svg {
  transform: rotate(-90deg);
}

.progressBar circle {
  stroke-dasharray: 630px;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.innerBtn {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 0 rgba(74, 144, 226, 0.03), 0 2px 5px 0 rgba(74, 144, 226, 0.01), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}

.innerBtn img {
  width: 20px;
}

.btnPlay > img {
  display: none;
}

.toggleText {
  background-color: #fff;
  padding-left: 24px;
  padding-right: 24px;
}

.toggleTextBtn {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin-bottom: 1em;
  font-size: 13px;
  padding: 0.5em 1em;
  position: relative;
}

.toggleTextBtn::after {
  position: absolute;
  top: 50%;
  right: 10px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 3px 0;
  border-color: var(--color-secondary) transparent transparent transparent;
  opacity: 0.3;
  pointer-events: none;
}

