@import '../variables.css';

.form {
  display: flex;
}

.wrapperIcon {
  background-color: #60e8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10000;
  border-radius: 30px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.22);
}

.search {
  line-height: 48px;
  background-color: #1d1d1d;
  color: white;
  border: none;
  width: 100%;
  padding: 0 1em;
  font-family: var(--font-family-base);
}
