@import '../variables.css';

.listItem {
  padding: 24px;
  text-decoration: none;
  display: block;
  color: white;
  position: relative;
}

.listItem:focus,
.listItem:active {
  background-color: rgba(0, 0, 0, 0.4);
}

.listItem::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 8px;
  border-color: transparent transparent transparent var(--color-main);
  position: absolute;
  top: 46px;
  right: 24px;
  pointer-events: none;
}

.listItem figure {
  margin: 0;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  background-size: cover;
  border: 3px solid #baa188;
  position: relative;
}

.listItem figure img {
  display: none;
}

.itemId {
  position: absolute;
  font-size: 16px;
  color: white;
  background-color: var(--color-main);
  right: -14px;
  top: 11px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
}

.container {
  position: relative;
  display: flex;
}

li + li .container::after {
  content: '';
  position: absolute;
  top: -24px;
  background-color: #fff;
  height: 1px;
  width: 100%;
  opacity: 0.2;
}

.infos {
  padding-left: 22px;
  padding-right: 22px;
  flex: 1;
  display: flex;
  align-items: center;
}

.infos h2 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}
