@import '../variables.css';

.list {
  padding-bottom: 20px;
}

.listContent {
  background-color: rgba(0, 0, 0, 0.8);
}

.list + .list {
  padding-top: 0;
}

.title {
  color: #fff;
  margin: 0;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  background-color: var(--color-main);
  text-transform: uppercase;
  padding: 0 20px;
  font-weight: 400;
  transition: all 0.1s ease-out;
}

.title img {
  width: 24px;
  vertical-align: middle;
  margin-right: 10px;
}

.listInOtherItinaries {
  margin-top: 20px;
}

.listInOtherItinaries .listContent {
  background-color: transparent;
}

.listInOtherItinaries ul {
  background-color: rgba(0, 0, 0, 0.8);
}

.listInOtherItinaries .title {
  background: transparent;
  padding: 0 24px;
}

.switchIt {
  text-align: center;
  padding-bottom: 60px;
}

.switchIt .modalTitle {
  font-size: 28px;
  color: var(--color-main);
  position: relative;
}

.switchIt .modalTitle::after {
  content: '';
  width: 30px;
  height: 2px;
  position: absolute;
  bottom: -6px;
  left: 50%;
  margin-left: -15px;
  background-color: var(--color-main);
}

.btn {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: var(--color-main);
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  border: 0;
}

.switchIt .btn {
  position: absolute;
  bottom: 0;
  left: 0;
}

.didntFoundAnything {
  text-align: center;
  padding: 24px;
  color: #fff;
}

.didntFoundAnything p {
  margin-bottom: 3em;
}
