@import '../variables.css';

.stopLocation {
  color: #fff;
  font-weight: 200;
}

.stopLocation span {
  font-size: 16px;
  color: white;
  background-color: #be9f8a;
  right: -14px;
  top: 11px;
  display: inline-block;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
}

.header {
  background-size: cover;
  position: relative;
  padding-bottom: 90px;
  background-color: #413e41;
  overflow: hidden;
}

.background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  filter: blur(4px);
  transform: scale(1.2);
  mix-blend-mode: multiply;
  opacity: 0.9;
  background-position: center;
}

.container {
  margin: 0 auto;
  padding: 20px 15px;
  position: relative;
  z-index: 2;
}

.backUrl {
  color: var(--color-main);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 34px;
}

.contentHeader {
  display: flex;
  justify-content: center;
  position: relative;
  line-height: 38px;
}

.contentHeader img {
  height: 32px;
}

.title {
  text-align: center;
  font-size: 28px;
  color: white;
}
